@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=PT+Mono&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #edece4;
  border: 10px solid #cbc6b9;
}
@media screen and (min-width: 480px) and (max-width: 759px) {
  body {
    border: none;
  }
}

p {
  font-family: "PT Mono", monospace;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 auto;
  max-width: 1200px;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container {
    max-width: 760px;
  }
}
@media screen and (min-width: 480px) and (max-width: 759px) {
  .container {
    max-width: 480px;
  }
}

.home {
  display: grid;
  grid-template-columns: 5fr 7fr;
  margin-top: 60px;
}
@media screen and (min-width: 480px) and (max-width: 759px) {
  .home {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.home__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .home__left {
    gap: 50px;
  }
}
.home__left .home__left__info p {
  border-right: 2px solid #2a2426;
  padding-right: 80px;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .home__left .home__left__info p {
    padding-right: 40px;
  }
}
.home__left .home__left__info p:first-child {
  border-bottom: 2px solid #2a2426;
  padding-bottom: 10px;
}
.home__left .home__left__info p:nth-child(2) {
  padding-top: 10px;
}
.home__left .home__left__info p:last-child {
  color: #988c77;
  border-right: none;
}
.home__left .home__left__info .aberto {
  display: inline-block;
  background-color: #1ab912;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  margin-left: 20px;
}
.home__left .home-detalhe {
  font-family: "PT Mono", monospace;
  font-size: 1.1rem;
  line-height: 1.8rem;
  color: #2a2426;
  font-size: 15rem;
  letter-spacing: -6.5rem;
  line-height: normal;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .home__left .home-detalhe {
    font-size: 10rem;
    letter-spacing: -4.5rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 759px) {
  .home__left .home-detalhe {
    display: none;
  }
}

.home__right img {
  border: 10px solid #cbc6b9;
  width: 100%;
}

.menu {
  display: grid;
  grid-template-columns: 5fr 3.5fr 3.5fr;
}
.menu .menu__title .menu__title__div {
  display: flex;
  align-items: center;
  gap: 50px;
}
.menu .menu__title .menu__title__div span {
  content: "";
  width: 60%;
  height: 2px;
  background-color: #2a2426;
  justify-self: center;
}
@media screen and (min-width: 480px) and (max-width: 759px) {
  .menu .menu__title .menu__title__div span {
    width: 100%;
  }
}
.menu .menu__title h1 {
  font-family: "PT Mono", monospace;
  font-size: 1.1rem;
  line-height: 1.8rem;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) and (max-width: 759px) {
  .menu .menu__title {
    grid-column: 1/-1;
    margin-bottom: 40px;
  }
}
.menu .menu__cardapio h1 {
  font-family: "Aref Ruqaa", serif;
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-size: 1.5rem;
  margin-bottom: 40px;
}
.menu .menu__cardapio span {
  font-family: "Aref Ruqaa", serif;
  font-size: 1.1rem;
  line-height: 1.8rem;
  color: #988c77;
  position: absolute;
  left: -4rem;
}
@media screen and (min-width: 480px) and (max-width: 759px) {
  .menu .menu__cardapio span {
    position: initial;
    margin-right: 10px;
  }
}
.menu .menu__cardapio li {
  font-family: "PT Mono", monospace;
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin: 10px 0;
  position: relative;
}
.menu .menu__cardapio .menu__cardapio__principais {
  margin-top: 60px;
}
@media screen and (min-width: 480px) and (max-width: 759px) {
  .menu .menu__cardapio {
    grid-column: 1/3;
  }
}
.menu .menu__imagens {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 80px;
}
@media screen and (min-width: 480px) and (max-width: 759px) {
  .menu .menu__imagens {
    grid-column: 3;
    justify-content: flex-start;
    gap: 200px;
  }
}
.menu .menu__imagens img {
  border-radius: 50%;
  border: 10px solid #cbc6b9;
}
@media screen and (min-width: 480px) and (max-width: 759px) {
  .menu .menu__imagens img {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
